.modal {
    opacity   : 0;
    visibility: hidden;
    position  : fixed;
    top       : 10px;
    right     : 10px;
    bottom    : 10px;
    left      : 10px;
    z-index   : 99;
    display   : none;

    .modal__container {
        position       : relative;
        width          : 100%;
        height         : 100%;
        border-radius  : 1.25em;
        overflow       : hidden;
        background     : rgba($text, .8);
        padding        : 100px 20px 40px;
        display        : flex;
        align-items    : center;
        justify-content: center;
    }

    &.completed {

        .box__audio .play,
        .box__label,
        .box__submit {
            background: $completed;
            color     : #fff;
        }

        .box__audio {
            input[type="range"]::-webkit-slider-thumb {
                background: $completed;
            }

            input[type="range"]::before {
                background: $completed;
            }

            input[type="range"]::-moz-range-progress {
                background: $completed;
            }

            input[type="range"]::-moz-range-thumb {
                background: $completed;
            }

            input[type="range"]::-ms-thumb {
                background: $completed;
            }
        }


        .box__label span {
            color: #fff;
        }
    }
}

.gameCompleted {
    position  : fixed;
    top       : 0;
    right     : 0;
    left      : 0;
    bottom    : 0;
    z-index   : 99;
    background: rgba($text, .8);
    visibility: hidden;
    opacity   : 0;

    display        : flex;
    align-items    : center;
    justify-content: center;

    .gameCompleted__content {
        position     : relative;
        max-width    : 816px;
        padding      : 30px;
        border-radius: 1.25em;
        background   : $light;
        text-align   : center;
    }

    span {
        position   : absolute;
        top        : -120px;
        left       : 50%;
        margin-left: -45px;
        width      : 90px;

        &::before {
            content       : '';
            display       : block;
            padding-bottom: 172%;
        }

        body.boy & {
            background: url('../../images/Boy.svg') no-repeat center/contain;
        }

        body.girl & {
            background: url('../../images/Girl.svg') no-repeat center/contain;
        }
    }

    h2 {
        font-family: $ff-primary;
        font-size  : 2em;
        font-weight: bold;
        color      : $text;
    }

    p {
        color: $text;
    }

    a.feedback {
        display        : inline-block;
        margin-top     : 10px;
        color          : $text;
        font-family    : $ff-primary;
        font-size      : 1em;
        font-weight    : 600;
        text-decoration: underline;
    }

    a:not(.feedback) {
        color         : $text;
        font-family   : $ff-primary;
        font-size     : 1em;
        line-height   : 3em;
        font-weight   : 600;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-align    : center;

        display         : inline-block;
        width           : 180px;
        background-color: $default;
        border-radius   : 2em;
        transition      : .3s cubic-bezier(0.23, 1, 0.320, 1);

        &:hover {
            background: $text;
            color     : #fff;
        }
    }
}

.box {
    max-width: 816px;
    position : relative;

    .box__close {
        position     : relative;
        margin-left  : auto;
        width        : 40px;
        height       : 40px;
        border-radius: 50%;
        background   : $contrast;
        cursor       : pointer;
        z-index      : 2;

        &::before,
        &::after {
            content    : '';
            position   : absolute;
            width      : 2px;
            height     : 18px;
            top        : 50%;
            left       : 50%;
            margin-top : -9px;
            margin-left: -1px;
            background : #fff;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    .box__audio {
        display    : flex;
        align-items: center;
        width      : 100%;

        --seek-before-width  : 0%;
        --volume-before-width: 100%;
        --buffered-width     : 0%;

        /* #region  Input */
        input[type="range"] {
            position          : relative;
            -webkit-appearance: none;
            width             : 100%;
            margin            : 0;
            padding           : 0;
            height            : 20px;
            float             : left;
            outline           : none;
            background        : transparent;
        }

        input[type="range"]::-webkit-slider-runnable-track {
            width     : 100%;
            height    : 3px;
            cursor    : pointer;
            background: $contrast;
        }

        input[type="range"]::before {
            position        : absolute;
            content         : "";
            top             : 8px;
            left            : 0;
            width           : var(--seek-before-width);
            height          : 2px;
            background-color: $default;
            cursor          : pointer;
        }

        input[type="range"]::-webkit-slider-thumb {
            position          : relative;
            -webkit-appearance: none;
            box-sizing        : content-box;
            height            : 15px;
            width             : 15px;
            border-radius     : 50%;
            background-color  : $default;
            cursor            : pointer;
            margin            : -7px 0 0 0;
        }

        input[type="range"]:active::-webkit-slider-thumb {
            transform: scale(1.2);
        }

        input[type="range"]::-moz-range-track {
            width     : 100%;
            height    : 3px;
            cursor    : pointer;
            background: $contrast;
        }

        input[type="range"]::-moz-range-progress {
            background-color: $default;
        }

        input[type="range"]::-moz-focus-outer {
            border: 0;
        }

        input[type="range"]::-moz-range-thumb {
            box-sizing      : content-box;
            height          : 15px;
            width           : 15px;
            border-radius   : 50%;
            background-color: $default;
            cursor          : pointer;
        }

        input[type="range"]:active::-moz-range-thumb {
            transform: scale(1.2);
        }

        input[type="range"]::-ms-track {
            width     : 100%;
            height    : 3px;
            cursor    : pointer;
            background: transparent;
            border    : solid transparent;
            color     : transparent;
        }

        input[type="range"]::-ms-fill-lower {
            background-color: $contrast;
        }

        input[type="range"]::-ms-fill-upper {
            background: $default;
        }

        input[type="range"]::-ms-thumb {
            box-sizing      : content-box;
            height          : 15px;
            width           : 15px;
            border-radius   : 50%;
            background-color: $default;
            cursor          : pointer;
        }

        input[type="range"]:active::-ms-thumb {
            transform: scale(1.2);
        }

        /* #endregion */

        audio {
            display: none;
        }

        button {
            padding      : 0;
            border       : 0;
            border-radius: 50%;
            cursor       : pointer;
            outline      : none;
            width        : 40px;
            height       : 40px;
            flex         : 0 0 auto;
        }

        .time {
            font-family: $ff-primary;
            font-size  : 14px;
            color      : #fff;
            margin     : 0 10px;
        }


        button.play {
            position       : relative;
            background     : $default;
            display        : flex;
            align-items    : center;
            justify-content: center;

            i {
                display    : inline-block;
                margin-left: 2px;
                width      : 16px;
                height     : 17px;
                background : url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 25'%3E%3Cdefs/%3E%3Cpath fill='%235A617D' d='M19.875 10.078L3.375.328C2.015-.469 0 .328 0 2.25v19.5c0 1.781 1.875 2.86 3.375 1.969l16.5-9.75c1.453-.89 1.453-3 0-3.89z'/%3E%3C/svg%3E") no-repeat center/contain;
            }

            &::after,
            &::before {
                content      : '';
                display      : block;
                position     : absolute;
                width        : 3px;
                height       : 16px;
                border-radius: 3px;
                left         : 50%;
                top          : 50%;
                margin-top   : -8px;
                margin-left  : -1.5px;
                background   : $text;
                opacity      : 0;
            }

            &::before {
                transform: translateX(-3px);
            }

            &::after {
                transform: translateX(3px);
            }
        }


        &.playing {


            button.play i {
                display: none;
            }

            button.play::after,
            button.play::before {
                opacity: 1;
            }
        }

        @media (min-width: 1024px) {}
    }

    .box__header {
        position     : relative;
        background   : $text;
        height       : 40px;
        border-radius: 30px;
        z-index      : 1;

        display: flex;
    }

    .box__label {
        position     : absolute;
        top          : -1.5em;
        left         : 50%;
        min-width    : 200px;
        transform    : translateX(-50%);
        background   : $default;
        border-radius: 1.5em;
        padding      : 0 20px;
        text-align   : center;

        span {
            font-family   : $ff-primary;
            font-size     : 14px;
            font-weight   : 600;
            line-height   : 2em;
            text-transform: uppercase;
            display       : inline-block;
            color         : $text;
        }

        span:first-child {
            margin-right: 0.5em;
        }
    }

    .box__container {
        position     : relative;
        background   : $light;
        border-radius: 0 0 30px 30px;
        padding      : 20px 0;
        margin-top   : -20px;

        &::after,
        &::before {
            content       : '';
            position      : absolute;
            left          : 20px;
            right         : 20px;
            height        : 30px;
            z-index       : 1;
            pointer-events: none;
        }

        &::before {
            top       : 20px;
            background: linear-gradient($light, rgba($light, .01));
        }

        &::after {
            bottom    : 20px;
            background: linear-gradient(rgba($light, .01), $light);
        }
    }

    .box__content {
        position  : relative;
        max-height: 60vh;
        padding   : 20px;
        overflow  : auto;

        h2 {
            color        : $text;
            font-family  : $ff-primary;
            font-size    : 1.5em;
            line-height  : 1.5em;
            margin-bottom: .5em;
        }

        img {
            display  : inline-block;
            width    : 100%;
            max-width: 320px;

            &[src=""] {
                display: none;
            }
        }

        p {
            color        : $text;
            font-family  : $ff-primary;
            font-size    : 1em;
            line-height  : 1.5em;
            font-weight  : 400;
            margin-top   : 0;
            margin-bottom: 10px;

            input {
                display      : none;
                margin-top   : 8px;
                max-width    : 1000px;
                line-height  : 1.5em;
                font-size    : 1em;
                color        : $text;
                border-radius: 4px;
                padding      : 6px 12px;
                border       : 1px solid rgba($text, .8);
            }

            input:focus {
                outline: none;
            }
        }

        span {
            display      : inline-block;
            color        : $text;
            font-family  : $ff-primary;
            font-size    : 1.125em;
            line-height  : 1.5em;
            font-weight  : 500;
            display      : block;
            margin-bottom: 10px;
        }

        ul {
            margin-bottom: 10px;
            text-align   : left;

            li {
                position     : relative;
                color        : $text;
                font-family  : $ff-primary;
                font-size    : 1em;
                font-weight  : 400;
                line-height  : 1.5em;
                margin-bottom: .5em;
            }
        }

    }

    .box__images {
        img {
            width: 180px;
        }
    }

    .box__options {
        counter-reset: cc;

        li {
            counter-increment: cc;
        }

        li::before {
            position   : absolute;
            width      : 24px;
            height     : 24px;
            line-height: 24px;
            text-align : center;
            content    : counter(cc, lower-alpha);
            font-family: $ff-primary;
            font-size  : 1em;
            line-height: 1.5em;
        }

        label {
            cursor: pointer;
        }

        .checkbox {
            display       : inline-block;
            vertical-align: top;
            user-select   : none;
            width         : 24px;
            height        : 24px;
            margin-right  : 8px;
            border        : solid 1px $text;
            border-radius : 3px;
        }

        input[type="checkbox"] {
            display: none;
        }

        input:checked+.checkbox {
            background-color: $completed;
        }
    }

    .box__list {
        padding-left   : 24px;
        list-style-type: decimal;
    }

    .box__questions {
        input {
            display      : block;
            margin-top   : 8px;
            max-width    : 1000px;
            line-height  : 1.5em;
            font-size    : 1em;
            color        : $text;
            border-radius: 4px;
            padding      : 6px 12px;
            border       : 1px solid rgba($text, .8);
        }

        input:focus {
            outline: none;
        }
    }

    .box__char {
        position   : absolute;
        top        : -110px;
        left       : 50%;
        margin-left: -45px;
        width      : 90px;

        &::before {
            content       : '';
            display       : block;
            padding-bottom: 172%;
        }

        body.boy & {
            background: url('../../images/Boy.svg') no-repeat center/contain;
        }

        body.girl & {
            background: url('../../images/Girl.svg') no-repeat center/contain;
        }
    }

    .box__submit {
        color         : $text;
        font-family   : $ff-primary;
        font-size     : 1em;
        line-height   : 3em;
        font-weight   : 600;
        text-transform: uppercase;
        text-align    : center;

        display         : inline-block;
        min-width       : 180px;
        background-color: $default;
        border-radius   : 2em;
        transition      : .3s cubic-bezier(0.23, 1, 0.320, 1);
        position        : absolute;
        bottom          : -20px;
        left            : 50%;
        transform       : translateX(-50%);
        text-align      : center;
        z-index         : 3;

        &:hover {
            background: $text;
            color     : #fff;
        }
    }

    .modal.RU & {
        .box__content p input {
            display: block;
        }
    }

    .modal.IS & {
        .box__list {
            list-style-type: initial;
        }
    }

    @media (min-width: 1024px) {
        .box__label span {
            line-height: 2.5em;
        }

        .box__char {
            width      : 120px;
            top        : -120px;
            margin-left: -60px;
        }
    }
}