html {
    height: 100%;
}

body {
    font-family             : arial, sans-serif;
    font-size               : 16px;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    text-rendering          : optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    min-height              : 100%;
    position                : relative;
    margin                  : 0;
}

footer,
header,
main,
section {
    display: block;
}

*,
*:after,
*:before {
    box-sizing: border-box;
}

button {
    cursor          : pointer;
    background-color: transparent;
    border-radius   : 0;

    &:focus {
        outline: none;
    }
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    border-style: none;
    outline     : 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

ul {
    padding: 0;
}

em {
    font-style: normal;
}

span {
    color: inherit;
}

img {
    border-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}